/* Base */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent !important; 
    overflow: hidden;
    color: white;
}

/* Style général des boites */
.info-row, .top-row, .info-box, .stat-item, .box-right {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    font-size: 14px;
}

/* --- HAUT DROITE --- */
.hud-top-right {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* --- BAS GAUCHE --- */
.hud-bottom-left {
    position: absolute;
    bottom: 25px;
    left: 17vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

/* --- BAS DROITE --- */
.hud-bottom-right {
    position: absolute;
    bottom: 25px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

/* --- MICROPHONE --- */
.mic-default {
    opacity: 0.5;
    transition: all 0.1s ease;
}
.mic-talking {
    opacity: 1 !important;
    color: #2ecc71; 
    text-shadow: 0 0 10px #2ecc71;
    transform: scale(1.1);
}

/* --- COULEURS --- */
.money-green { color: #2ecc71; }
.money-purple { color: #8e44ad; } 

.highlight {
    color: #8e44ad; 
    font-weight: 800;
    font-size: 22px;
}

/* --- DETAILS --- */
.status-container { display: flex; gap: 8px; }
.car-content { display: flex; gap: 20px; align-items: center; }
.ammo-box { font-size: 18px; display: flex; align-items: center; gap: 8px; }

.speed-box { font-size: 28px; font-weight: 800; }
.unit { font-size: 12px; opacity: 0.8; font-weight: 400; }
.emoji { margin-right: 5px; }
.separator { margin: 0 5px; opacity: 0.5; }
